.vote-box {
    width: 80px;
    height: 80px;
    padding: 4px;
    text-align: center;
    font-weight: 700;
    border: 1px solid #cccccc;
    
    margin: 4px;
    cursor: pointer;

    &:hover {
        background-color: #e4e4e4;
    }
}

.active {
    background-color: #cacaca;
}

.shares-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust as needed for spacing between elements */
}

.share-button {
    background-color: #f2f2f2;
    border: 1px solid #d1d1d1;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.share-button:hover {
    background-color: #e6e6e6;
}

.share-button:disabled {
    background-color: #f9f9f9;
    cursor: not-allowed;
}

.shares-input {
    width: 80px; /* Adjust width as needed */
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    font-size: 1rem;
}

/* For Webkit browsers like Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"]::-moz-outer-spin-button,
input[type="number"]::-moz-inner-spin-button {
    margin: 0;
    -moz-appearance: none;
}

/* For all browsers (including IE) */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    
    .card.grid {
        flex-direction: column; /* Stack elements vertically */
    }

    .col-8, .col-4 {
        width: 100%; /* Full width for each column */
        padding: 0; /* Adjust padding if necessary */
    }

    .vote-box {
        margin: 10px 0; /* Add some space between buttons */
    }

    .shares-container, .vote-box, .shares-input, .share-button {
        font-size: smaller; /* Adjust font size for readability */
    }

    button.p-button-raised {
        width: 90%; /* Adjust button width */
        margin: 10px auto; /* Center the button */
    }

    /* Add other responsive styles as needed */
}