.cover-image {
  width: 50%;
  height: 100vh;
  position: sticky;
  top: 0;
  /* Other styles */
}

.logo-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px; /* Adjust as needed */
  display: flex;
  justify-content: end;
}

.logo {
  max-height: 50px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}

.content-area {
  width: 50%;
  padding: 2rem; /* Add some padding */
  background-color: white; /* Or your desired background */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically if flex container has a set height */
}

:host ::ng-deep {
  p-password {
    width: 100% !important;
    display: block; // Ensure p-password takes block space for width to apply if not already

    .p-inputtext {
      width: 100% !important;
      // padding-right: 2.5rem; /* if using toggleMask and icon needs space */
    }

    // Styles for toggle mask icon if needed, similar to login
    // i {
    //   right: 0.65rem;
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   margin-top: 0; // remove previous margin-top if translateY is used
    // }
    // .pi-eye,
    // .pi-eye-slash {
    //   transform: scale(1.6); // if you want larger icons
    //   margin-right: 1rem; // space from the edge
    //   color: var(--primary-color) !important;
    // }
  }

  // Ensure PrimeNG inputs take full width if not already via styleClass or direct style
  .w-full .p-inputtext,
  .w-full .p-component {
    width: 100%;
  }

  // Adjusting button to be full width
  // button[pButton].w-full {
  //   width: 100%;
  // }
}

// For smaller screens, stack the panels on top of each other
@media (max-width: 768px) { // Adjust this breakpoint to whatever you like
  .cover-image {
    display: none; /* Hides the left column on mobile devices */
  }

  .content-area {
    width: 100%; /* Makes the right column take full width */
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .logo-container {
    position: relative; /* Change to relative positioning for mobile */
    top: auto;
    right: auto;
    padding: 2%; /* Adjust padding */
    justify-content: center; /* Center logo on mobile */
  }

  .logo {
    max-height: 40px; /* Resize logos for mobile */
  }

  .content-area h1 {
    font-size: 40px; /* Smaller font size for title on mobile */
    text-align: center; /* Center title on mobile */
    padding-right: 0; /* Reset padding */
    padding-top: 2%;
  }
} 