:host ::ng-deep .custom-inputgroup p-dropdown .p-dropdown {
    height: 100%;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.custom-inputgroup {
    display: flex;

    .country-item {
        display: flex;
    }

    input {
        border-radius: 0px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

}