.event-title {
    display: flex;
    margin-left: 2vw;
    margin-bottom: 2vh;
    margin-top: 0;
    font-size: xx-large;
    width: 100%;
    // justify-content: space-between;
    text-align: end;

    div {
        margin: auto 0px;
    }
    .title{
        margin-left: 10px;
    }
}

.action {
    display: flex;
    gap: 1rem;
    justify-content: right;
    margin-top: 10px;
    margin-right: 10px;
}

#wowza_player {
  
    width: 100%;
    height: 100%
}
.grid{
    height: fit-content;
}

#meetingSDKElement {
    top: 59px !important;
    left: 0 !important;
    right: 0;
    // margin-left: auto;
    // margin-right: auto;
    width: 100%; /* width of speaker and ribbon view */
  }


  .modern-button {
    display: inline-block;
    margin-left: 30%;
    padding: 10px 20px;
    // margin: 100px 30em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #6366F1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
}

.modern-button-zoom {
    display: inline-block;
    margin-left: 1px;
    padding: 10px 20px;
    // margin: 100px 30em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #3cc4ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
}

.modern-button:hover {
    background-color: rgb(73, 71, 235);
}

/* Optional: Add a different style for the button when it's clicked */
.modern-button:active {
    background-color: rgb(73, 71, 235);
}

.personal-info {
    @media (max-width:480px) {

        
    }
    
    @media (min-width:481px) {
        height: calc(100vh - 18vh) 
    }
}

@media (max-width:480px) {
    .modern-button {
        display: inline-block;
        margin-left: 10%;
        padding: 10px 20px;
        // margin: 100px 30em;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        background-color: #6366F1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        cursor: pointer;
    }
        
}

.join-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 0.5rem; /* Add gap between buttons */
    margin-left: 30%;
}

@media (max-width: 480px) {

    .join-buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem; /* Add gap between buttons */
        margin-left: 0%;
    }
    .action-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 1000;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
    }

    .event-title {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 6rem; /* Add margin to push down content */
    }

    .grid {
        margin-top: 6rem; /* Add margin to push down content */
    }



    /* Targeting the inner div with mt-4 and mb-2 classes */
    .mt-4.mb-2 {
    /* Your custom styles here */

    margin-left: 30px;
    }


    }

@import url('https://cdn.flowplayer.com/releases/native/3/stable/style/flowplayer.css');